body {
  text-align: center;
  min-height: 100vh;
  background-color: rgb(216, 198, 173);
}
footer {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 60px; /* Height of the footer */
  background: rgb(32, 48, 56);
  color: aliceblue;
  justify-content: space-evenly;
  font-size: x-large;
  font-weight: 500;
  margin-top: auto;
}
header {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 60px; /* Height of the footer */
  background: rgb(32, 48, 56);
  color: aliceblue;
  justify-content: space-evenly;
  font-size: x-large;
  font-weight: 500;
}
.todo-item {
  border-radius: 25px;
  padding: 0.2rem;
  margin: 0.3rem;
  margin: 2rem;
  background-color: rgb(143, 94, 43);
  color: aliceblue;
}
.Todo {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: space-evenly;
  background: rgb(32, 48, 56);
  border-radius: 25px;
  padding: 0.5 rem;
  margin: 0.3rem;
  color: aliceblue;
}
.ChangeOne-Form {
  display: block;
}
#loginForm {
  padding: 9rem;
}
.loginput {
  background-color: rgb(143, 94, 43);
  color: aliceblue;
  border-radius: 25px;
  padding: 0.2rem;
  margin: 0.3rem;
}
input {
  border-radius: 25px;
  padding: 0.2rem;
  margin: 0.3rem;
}
